QPlainTextEdit {
    background: rgb(25, 37, 53);
    font-size: 25px;
    font-family: 'dejaVu sans mono';
    color: white;
}

QPlainTextEdit#lineCounter {
    color: rgb(105 , 117 , 133);
}

QPushButton {
    background: rgb(45 , 57 , 73);
    color: white;
    border-radius: 0px;
    border: None;
}

QPushButton:hover {
    background: rgb(75 , 87 , 103);
    border: None;
}

QScrollBar {
    background: rgb(45 , 57 , 73);
}
